{{ render "debug" }}
<div class="row">
  <div class ="twelve columns">
    <h1>Pipeline App</h1>
    <p><a href="http://www.lukaszielinski.de/blog">&copy; 2013 Lukas Zielinski</a></p>
    <hr>
    {{ outlet }}
  </div>
</div>