<div class="row">
  <div class ="four columns" id="items">
     {{ render "items" }}
   </div>
  <div class ="eight columns" id="stages">
    <div class="row">
      <div class ="twelve columns" id="stagegrid">
        {{ render "stages" }}
      </div>
    </div>
   </div>
</div>